@using MySociety.Entity.ViewModels
@model RegisterVM

@{
    ViewData["Title"] = "Register";
    Layout = "_LoginLayout";
    var ownerRoleId = Model.Roles.FirstOrDefault(r => r.Name == "Owner")?.Id ?? 0;
    var tenantRoleId = Model.Roles.FirstOrDefault(r => r.Name == "Tenant")?.Id ?? 0;
}

<form asp-controller="Auth" asp-action="Register" class="row row-cols-1">

    <input type="hidden" id="RoleId" name="RoleId" value="-1" />

    <!-- Name -->
    <div class="mb-4 col">
        <div class="input-group">
            <input asp-for="Name" type="text" class="form-control login-input p-2" placeholder=" Name*" required>
            <span class="input-group-text">
                <img src="/images/icons/person-fill.svg" width="20px">
            </span>
        </div>
        <span asp-validation-for="Name" class="text-danger d-flex justify-content-start"></span>
    </div>

    <!-- Email -->
    <div class="mb-4 col">
        <div class="input-group">
            <input asp-for="Email" type="email" class="form-control login-input p-2" placeholder=" Email*" required>
            <span class="input-group-text">
                <img src="/images/icons/envelope.svg" width="20px">
            </span>
        </div>
        <span asp-validation-for="Email" class="text-danger d-flex justify-content-start"></span>
    </div>

    <div class="mb-4 col">
        <select id="select-role" class="form-select" aria-label="Default select example" onchange="updateRoleId()">
            <option selected value="-1">Select Role*</option>
            <option value="0">Resident</option>
            @foreach (var role in Model.Roles)
            {
                if (role.Name != "Owner" && role.Name != "Tenant" && role.Name != "Admin")
                {
                    <option value="@role.Id"> @role.Name</option>
                }
            }
        </select>
        <span asp-validation-for="RoleId" class="text-danger d-flex justify-content-start"></span>

        <div id="" class="col-6 row row-cols-2 mt-2 d-none resident-div">
            <div>
                <input type="radio" id="resident-owner" name="type_of_resident" value="@ownerRoleId" checked
                    onchange="updateRoleId()">
                <label for="resident-owner">Owner</label>
            </div>
            <div>
                <input type="radio" id="resident-tenant" name="type_of_resident" value="@tenantRoleId"
                    onchange="updateRoleId()">
                <label for="resident-tenant">Tenant</label>
            </div>
        </div>
    </div>

    <!-- Address -->
    <div class="mb-4 col-4 d-none resident-div">
        <select asp-for="BlockId" id="selectBlockId" class="form-select" aria-label="Default select example"
            onchange="getFloor()">
            <option selected value="-1">Select Block*</option>
            @foreach (var block in Model.Blocks)
            {
                <option value="@block.Id">@block.Name</option>
            }
        </select>
        <span asp-validation-for="BlockId" class="text-danger d-flex justify-content-start"></span>
    </div>

    <div class="mb-4 col-4 d-none resident-div">
        <select asp-for="FloorId" id="selectFloorId" class="form-select" aria-label="Default select example" disabled
            onchange="getHouse()">
            <option selected value="-1">Select Floor*</option>
            @foreach (var floor in Model.Floors)
            {
                <option value="@floor.Id">@floor.Name</option>
            }
        </select>
        <span asp-validation-for="FloorId" class="text-danger d-flex justify-content-start"></span>
    </div>

    <div class="mb-4 col-4 d-none resident-div">
        <select asp-for="HouseId" id="selectHouseId" class="form-select" aria-label="Default select example" disabled>
            <option selected value="-1">Select House*</option>
            @foreach (var floor in Model.Floors)
            {
                <option value="@floor.Id">@floor.Name</option>
            }
        </select>
        <span asp-validation-for="HouseId" class="text-danger d-flex justify-content-start"></span>
    </div>

    <!-- Password -->
    <div class="mb-4 col">
        <div class="input-group">
            <input asp-for="Password" type="password" class="form-control login-input p-2" id="newPassword"
                placeholder=" Password*">
            <span class="input-group-text">
                <i class="eye-icon fa fa-eye-slash cursor-pointer" onclick="togglePassword('newPassword', this)"></i>
            </span>
        </div>
        <span asp-validation-for="Password" class="text-danger d-flex justify-content-start"></span>
    </div>

    <div class="mb-4 col">
        <div class="input-group">
            <input asp-for="ConfirmPassword" type="password" class="form-control login-input p-2" id="confirmPassword"
                placeholder="Confirm Password*">
            <span class="input-group-text">
                <i class="eye-icon fa fa-eye-slash cursor-pointer"
                    onclick="togglePassword('confirmPassword', this)"></i>
            </span>
        </div>
        <span asp-validation-for="ConfirmPassword" class="text-danger d-flex justify-content-start"></span>
    </div>

    <div class="mb-3 col-12">
        <button type="submit" class="btn btn-custom w-100">Register</button>
    </div>

    <div>
        <span>Already a member?</span>
        <a asp-action="Login" asp-controller="Auth">Login here</a>
    </div>

</form>

@section Scripts {
    <script>

        function updateRoleId() {
            var selectedRoleId = $('#select-role').val();

            if (selectedRoleId === "0") {
                $('.resident-div').removeClass('d-none');

                // Set RoleId based on selected radio button
                var radioVal = $('input[name="type_of_resident"]:checked').val();
                $('#RoleId').val(radioVal);
            } else {
                $('.resident-div').addClass('d-none');
                $('#RoleId').val(selectedRoleId);
                clearAddress();

            }
        };

        function getFloor() {
            $.ajax({
                url: '@Url.Action("GetFloor", "Address")',
                type: 'GET',
                data: {
                    blockId: $('#selectBlockId').val()
                },
                success: function (floors) {
                    var floorSelect = $('#selectFloorId');
                    floorSelect.empty();
                    $("#selectHouseId").empty();

                    floorSelect.append('<option selected value="">Select Floor*</option>');
                    $("#selectHouseId").append('<option selected value="">Select House*</option>');

                    $.each(floors, function (index, floor) {
                        floorSelect.append($('<option/>', {
                            value: floor.value,
                            text: floor.text
                        }));
                    });

                    floorSelect.prop('disabled', false);
                },
                error: function () {
                    alert("Error loading floors.");
                }
            });
        }

        function getHouse() {
            $.ajax({
                url: '@Url.Action("GetHouse", "Address")',
                type: 'GET',
                data: {
                    blockId: $('#selectBlockId').val(),
                    floorId: $('#selectFloorId').val()
                },
                success: function (houses) {
                    var houseSelect = $('#selectHouseId');
                    houseSelect.empty();

                    houseSelect.append('<option selected value="">Select House*</option>');

                    $.each(houses, function (index, house) {
                        houseSelect.append($('<option/>', {
                            value: house.value,
                            text: house.text
                        }));
                    });

                    houseSelect.prop('disabled', false);
                },
                error: function () {
                    alert("Error loading houses.");
                }
            });
        }

        function clearAddress() {
            $('#selectBlockId').val('-1');
            $('#selectFloorId').val('-1').prop('disabled', true).empty().append('<option selected value="-1">Select Floor*</option>');
            $('#selectHouseId').val('-1').prop('disabled', true).empty().append('<option selected value="-1">Select House*</option>');
        }



    </script>
}
