@using MySociety.Entity.ViewModels
@model ApprovalPaginationVM

<!-- Table -->
<div class="table-responsive">
    <table class="table approval-table">
        <thead>
            <tr>
                <th scope="col" class="col-3 sortable-column" data-column="name" data-current-order="asc">
                    <span>Name</span>
                    <span class="" data-order="asc">
                        <img src="~/images/icons/arrow-up.svg" alt="">
                    </span>
                    <span class="d-none" data-order="desc">
                        <img src="~/images/icons/arrow-down.svg" alt="">
                    </span>
                </th>
                <th scope="col" class="col-3 sortable-column" data-column="email" data-current-order="desc">
                    <span>Email</span>
                    <span class="d-none" data-order="asc">
                        <img src="~/images/icons/arrow-up.svg" alt="">
                    </span>
                    <span class="d-none" data-order="desc">
                        <img src="~/images/icons/arrow-down.svg" alt="">
                    </span>
                </th>
                <th scope="col" class="col-1 sortable-column" data-column="block" data-current-order="desc">
                    <span>Block</span>
                    <span class="d-none" data-order="asc">
                        <img src="~/images/icons/arrow-up.svg" alt="">
                    </span>
                    <span class="d-none" data-order="desc">
                        <img src="~/images/icons/arrow-down.svg" alt="">
                    </span>
                </th>
                <th scope="col" class="col-1 sortable-column" data-column="floor" data-current-order="desc">
                    <span>Floor</span>
                    <span class="d-none" data-order="asc">
                        <img src="~/images/icons/arrow-up.svg" alt="">
                    </span>
                    <span class="d-none" data-order="desc">
                        <img src="~/images/icons/arrow-down.svg" alt="">
                    </span>
                </th>
                <th scope="col" class="col-1 sortable-column" data-column="house" data-current-order="desc">
                    <span>House</span>
                    <span class="d-none" data-order="asc">
                        <img src="~/images/icons/arrow-up.svg" alt="">
                    </span>
                    <span class="d-none" data-order="desc">
                        <img src="~/images/icons/arrow-down.svg" alt="">
                    </span>
                </th>
                <th scope="col" class="col sortable-column" data-column="role" data-current-order="desc">
                    <span>Role</span>
                    <span class="d-none" data-order="asc">
                        <img src="~/images/icons/arrow-up.svg" alt="">
                    </span>

                    <span class="d-none" data-order="desc">
                        <img src="~/images/icons/arrow-down.svg" alt="">
                    </span>
                </th>
                <th scope="col" class="col">Action</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (ApproveUserVM? user in Model.Users)
            {
                <tr>
                    <td scope="row">
                        <img src="~/images/profile.png" alt="" width="35px" height="35px" class="rounded-circle">
                        <span>@user.Name</span>
                    </td>
                    <td>@user.Email</td>
                    <td>@user.Address.BlockName</td>
                    <td>@user.Address.FloorName</td>
                    <td>@user.Address.HouseName</td>
                    <td>@user.Role</td>
                    <td>
                        <a type="button" class="px-3 btn btn-approve" onclick="approveModal(this)" data-name="@user.Name" data-id=@user.UserId>
                            Approve
                        </a>

                        <a type="button" class="px-3 btn btn-reject" onclick="rejectModal(this)" data-name="@user.Name" data-id=@user.UserId>
                            Reject
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Pagination Starts -->
<div class="d-flex justify-content-end gap-1 flex-column flex-md-row pb-2">
    <div class="d-flex flex-row justify-content-end align-items-center mb-1 me-1 gap-1">
        <span>Items per page:</span>
        <select class="form-select w-auto" onchange="paginationAjax(1)" id="itemsPerPage"
            aria-label="Select items per page">
            <option value="5" selected="@(Model.Page.PageSize == 5 ? true : false)">5</option>
            <option value="10" selected="@(Model.Page.PageSize == 10 ? true : false)">10</option>
            <option value="15" selected="@(Model.Page.PageSize == 15 ? true : false)">15</option>
        </select>
    </div>

    <div class="d-flex flex-row justify-content-end align-items-center mb-1 gap-1">
        <span>Showing @Model.Page.FromRec - @Model.Page.ToRec of @Model.Page.TotalRecord</span>

        <!-- Previous Page Button -->
        <button class="btn bg-white border btn-prev @(Model.Page.CurrentPage > 1 ? "" : "disabled")"
            onclick="paginationAjax(@Model.Page.CurrentPage - 1)">
            <img src="~/images/icons/chevron-left.svg" alt="">
        </button>

        <!-- Next Page Button -->
        <button class="btn bg-white border btn-next @(Model.Page.CurrentPage < Model.Page.TotalPages ? "" : "disabled")"
            onclick="paginationAjax(@Model.Page.CurrentPage + 1)">
            <img src="~/images/icons/chevron-right.svg" alt="">
        </button>
    </div>
</div>
<!-- Pagination Ends -->