@using MySociety.Entity.ViewModels
@model ApprovalPaginationVM

<!-- Table -->
<div class="table-responsive">
    <table class="table approval-table">
        <thead>
            <tr>
                <th scope="col" class="col-3">
                    Name
                    <button class="btn p-0 sortBtn" data-column="Name" data-order="asc">
                        <img src="~/images/icons/arrow-up.svg" alt="">
                    </button>
                    <button class="btn p-0 sortBtn" data-column="Name" data-order="desc">
                        <img src="~/images/icons/arrow-down.svg" alt="">
                    </button>
                </th>
                <th scope="col" class="col-3">Email</th>
                <th scope="col" class="col-1">Block</th>
                <th scope="col" class="col-1">Floor</th>
                <th scope="col" class="col-1">House</th>
                <th scope="col" class="col">
                    Role
                    <button class="btn p-0 sortBtn" data-column="Role" data-order="asc">
                        <img src="~/images/icons/arrow-up.svg" alt="">
                    </button>

                    <button class="btn p-0 sortBtn" data-column="Role" data-order="desc">
                        <img src="~/images/icons/arrow-down.svg" alt="">
                    </button>
                </th>
                <th scope="col" class="col">Action</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (ApproveUserVM? user in Model.Users)
            {
                <tr>
                    <td scope="row">
                        <img src="~/images/profile.png" alt="" width="35px" height="35px" class="rounded-circle">
                        <span>@user.Name</span>
                    </td>
                    <td>@user.Email</td>
                    <td>@user.Block</td>
                    <td>@user.Floor</td>
                    <td>@user.House</td>
                    <td>@user.Role</td>
                    <td>
                        <a type="button" onclick="approveUser(@user.UserId)" class="px-3 btn btn-approve">
                            Approve
                        </a>

                        <a type="button" class="px-3 btn btn-reject deleteIcon" id="deleteIcon" data-bs-toggle="modal"
                            data-bs-target="#deleteModal" data-id=@user.UserId>
                            Reject
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Pagination Starts -->
<div class="d-flex justify-content-end gap-1 flex-column flex-md-row pb-2">
    <div class="d-flex flex-row justify-content-end align-items-center mb-1 me-1 gap-1">
        <span>Items per page:</span>
        <select class="form-select w-auto" onchange="PaginationAjax(1)" id="itemsPerPage"
            aria-label="Select items per page">
            <option value="5" selected="@(Model.Page.PageSize == 5 ? true : false)">5</option>
            <option value="10" selected="@(Model.Page.PageSize == 10 ? true : false)">10</option>
            <option value="15" selected="@(Model.Page.PageSize == 15 ? true : false)">15</option>
        </select>
    </div>

    <div class="d-flex flex-row justify-content-end align-items-center mb-1 gap-1">
        <span>Showing @Model.Page.FromRec - @Model.Page.ToRec of @Model.Page.TotalRecord</span>

        <!-- Previous Page Button -->
        <button class="btn bg-white border btn-prev @(Model.Page.CurrentPage > 1 ? "" : "disabled")"
            onclick="PaginationAjax(@Model.Page.CurrentPage - 1)">
            <img src="~/images/icons/chevron-left.svg" alt="">
        </button>

        <!-- Next Page Button -->
        <button class="btn bg-white border btn-next @(Model.Page.CurrentPage < Model.Page.TotalPages ? "" : "disabled")"
            onclick="PaginationAjax(@Model.Page.CurrentPage + 1)">
            <img src="~/images/icons/chevron-right.svg" alt="">
        </button>
    </div>
</div>
<!-- Pagination Ends -->