@using MySociety.Entity.ViewModels
@model ProfileVM
@{
    ViewData["Title"] = "My Profile";
}

<div class="container">
    <!-- User heading, search and add button -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <h1 class="blue-text mb-0">My Profile</h1>
        </div>
        <div>
            <a asp-action="Index" asp-controller="Home" class="btn btn-custom">
                <img class="text-white" src="~/images/icons/chevron-left-white.svg" alt="">
                <span>Back</span>
            </a>
        </div>
    </div>


    <div class="row bg-custom p-3 mx-0">

        <!-- Photo and Name-->
        <div class="d-flex align-items-center pb-2">
            <div class="d-flex">
                <img id="img-preview" class="profile-img rounded-circle"
                    src="@(Model.ProfileImageUrl != null ? Model.ProfileImageUrl : "/images/profile.png")">
                <div class="camera-div bg-white">
                    <label for="profileImage">
                        <img class="camera-img" src="~/images/icons/camera.svg" alt="Upload Profile Image">
                    </label>
                </div>
            </div>
            <div>
                <div class="fs-3">@Model.Name</div>
                <div class="fs-5">@Model.Email</div>
                <div class="fw-semibold">
                    <span>House @Model.House,</span>
                    <span>@Model.Floor Floor,</span>
                    <span>@Model.Block Block</span>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="fs-4 pt-2"> Contact Information </div>

            <div class="row row-cols-2">
                <div class="form-group col mt-2">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" type="email" class="form-control" aria-describedby="email" disabled>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>

                <div class="form-group col mt-2">
                    <label for="exampleInputPhone">Phone</label>
                    <input type="email" class="form-control" id="exampleInputPhone" aria-describedby="Phone">
                    <small id="emailHelp" class="form-text text-danger">Phone is required</small>
                </div>

                @* <div class="form-group col mt-2">
                    <label for="exampleInputEmail1">Whatsapp Number</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="email">
                </div> *@
            </div>
        </div>

        <div>
            <div class="d-flex pt-2 justify-content-between align-items-center">
                <div class="fs-4"> Vehicle Information </div>
                <button class="btn btn-custom-secondary">
                    + Add Vehicle
                </button>
            </div>

            <div class="row row-cols-2">
                <div class="form-group col mt-2">
                    <label for="exampleInputEmail1">Number</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="email">
                    <small id="emailHelp" class="form-text text-danger">Field is required</small>
                </div>

                <div class="form-group col mt-2">
                    <label for="exampleInputPhone">Name</label>
                    <input type="email" class="form-control" id="exampleInputPhone" aria-describedby="Phone">
                    <small id="emailHelp" class="form-text text-danger">Field is required</small>
                </div>

                <div class="form-group col mt-2">
                    <label for="exampleInputPhone">Type</label>
                    <input type="email" class="form-control" id="exampleInputPhone" aria-describedby="Phone">
                    <small id="emailHelp" class="form-text text-danger">Field is required</small>
                </div>

                <div class="form-group col mt-2">
                    <label for="exampleInputPhone">Parking slot number</label>
                    <input type="email" class="form-control" id="exampleInputPhone" aria-describedby="Phone">
                    <small id="emailHelp" class="form-text text-danger">Field is required</small>
                </div>

            </div>

            <!-- Table -->
            <div class="table-responsive bg-white mt-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="col-1">Sr. No.</th>
                            <th scope="col" class="col">
                                Number
                                <button class="btn p-0 sortBtn" data-column="Name" data-order="asc">
                                    <img src="~/images/icons/arrow-up.svg" alt="">
                                </button>
                                <button class="btn p-0 sortBtn" data-column="Name" data-order="desc">
                                    <img src="~/images/icons/arrow-down.svg" alt="">
                                </button>
                            </th>
                            <th scope="col" class="col">Name</th>
                            <th scope="col" class="col">Type</th>
                            <th scope="col" class="col">Parking Slot No.</th>
                            <th scope="col" class="col">Action</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr>
                            <td>1</td>
                            <td>GJ01AA0001</td>
                            <td>BMW</td>
                            <td>Car</td>
                            <td>52</td>
                            <td>
                                <a type="button" class="ps-0 pe-3 btn">
                                    <img src="/images/icons/edit.svg" alt="">
                                </a>

                                <a type="button" class="ps-0 btn deleteIcon" id="deleteIcon" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal" data-id=0>
                                    <img src="/images/icons/delete.svg" alt="">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $("#profileImage").change(function () {
            const file = this.files[0];
            if (file) {
                const fileReader = new FileReader();
                fileReader.onload = function (event) {
                    $("#img-preview").attr("src", event.target.result);
                };
                fileReader.readAsDataURL(file);
            }
        });
    </script>
}