@using MySociety.Entity.ViewModels
@model ProfileVM
@{
    ViewData["Title"] = "My Profile";
}

<!-- User heading, search and add button -->
<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h1 class="blue-text">My Profile</h1>
    </div>
    <div>
        <a asp-action="Index" asp-controller="Home" class="btn btn-custom-secondary">
            <img src="~/images/icons/chevron-left.svg" alt="">
            <span>Back</span>
        </a>
    </div>
</div>

<!-- For dark blue profile image -->
<div>
    <div style="height:60px; background-color: black;"></div>
    @* <img src="~/images/profile_div_bg.jpg" alt="background-img" class="object-fit-cover w-100" height="60px"> *@
</div>

<!-- Form -->
<div class="row bg-custom px-3 pb-4 mx-0">

    <!-- Admin heading and image -->
    <div class="d-flex flex-column flex-sm-row">
        <div class="d-flex">
            <img id="img-preview" class="profile-img rounded-circle"
                src="@(Model.ProfileImageUrl != null ? Model.ProfileImageUrl : "/images/profile.png")">
            <div class="camera-div bg-white">
                <label for="profileImage">
                    <img class="camera-img" src="~/images/icons/camera.svg" alt="Upload Profile Image">
                </label>
            </div>
        </div>

        <div class="w-100">
            <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center">
                <span class=" fs-3 fw-bold">@Model.Name</span>
                <span class="">@Model.Email</span>
            </div>
            <div class="fs-5 mb-3">@Model.Role</div>
        </div>
    </div>

    <form asp-action="MyProfile" asp-controller="Dashboard" class="row" method="post" id="formMyProfile" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        <!-- Email -->
        <input asp-for="Email" hidden>
        <input asp-for="UserId" hidden>
        <input asp-for="Image" type="file" id="profileImage" class="d-none">

         <!-- Second row-->
        <div class="col-12 col-sm-4 form-floating mb-3">
            <input asp-for="Block" type="text" placeholder="" class="form-control" id="block" disabled>
            <label asp-for="Block">Block*</label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="col-12 col-sm-4 form-floating mb-3">
            <input asp-for="Floor" type="text" placeholder="" class="form-control" id="floor" disabled>
            <label asp-for="Floor">Floor*</label>
        </div>

        <div class="col-12 col-sm-4 form-floating mb-3">
            <input asp-for="House" type="text" placeholder="" class="form-control" id="house" disabled>
            <label asp-for="House">House*</label>
        </div>

        <!-- First row -->
        <div class="col-12 col-sm-6 form-floating mb-3">
            <input asp-for="Name" type="text" placeholder="" class="form-control" id="firstName" required>
            <label for="firstName">Name*</label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        

        <div class="col-12 col-sm-6 form-floating mb-3">
            <input asp-for="Phone" type="text" placeholder="" class="form-control" id="phone" required>
            <label for="phone">Phone*</label>
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>

       


        <div class="d-flex justify-content-end gap-3">
            <button class="btn btn-custom" type="submit">
                Update
            </button>
            <button class="btn btn-custom-secondary" type="reset">
                Cancel
            </button>
        </div>
    </form>

</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            $("#profileImage").change(function () {
                const file = this.files[0];
                if (file) {
                    const fileReader = new FileReader();
                    fileReader.onload = function (event) {
                        $("#img-preview").attr("src", event.target.result);
                    };
                    fileReader.readAsDataURL(file);
                }
            });
        });
    </script>

}
