@using MySociety.Entity.ViewModels
@using System.Security.Claims
@using MySociety.Service.Common
@model VisitorVM

@{
    ViewData["Title"] = "Members";
    Layout = "_Layout";
    string? userRole = User.FindFirst(ClaimTypes.Role)?.Value;
}

<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-lg border-0 rounded-4 w-75">

        <div
            class="card-header bg-custom-secondary text-white text-center rounded-top-4 d-flex justify-content-between">
            <h3 class="mb-0">Visitor Details</h3>
            <a href="javascript:history.back()" class="btn">
                <img class="text-white" src="~/images/icons/chevron-left-white.svg" alt="">
                <span class="text-white">Back</span>
            </a>
        </div>

        <div class="card-body p-5 pe-0 bg-light rounded-bottom-4">

            @if (userRole == "Admin" || userRole == "Security")
            {
                <div class="row row-cols-4">
                    <div class="col mb-3">
                        <h5><i class="bi bi-geo-alt-fill me-2 text-secondary"></i><strong>Unit:</strong>
                            @Model.Address.UnitName</h5>
                    </div>

                    <div class="col mb-3">
                        <h5><i class="bi bi-building me-2 text-secondary"></i><strong>Block:</strong>
                            @Model.Address.BlockName</h5>
                    </div>

                    <div class="col mb-3">
                        <h5><i class="bi bi-grid-3x3-gap-fill me-2 text-secondary"></i><strong>Floor:</strong>
                            @Model.Address.FloorName</h5>
                    </div>

                    <div class="col mb-3">
                        <h5><i class="bi bi-house-door-fill me-2 text-secondary"></i><strong>House:</strong>
                            @Model.Address.HouseName</h5>
                    </div>
                </div>
            }
            <div class="row row-cols-2 mb-3">

                <div class="col mb-3">
                    <h5><i class="bi bi-person-circle me-2 text-secondary"></i><strong>Name:</strong> @Model.Name</h5>
                </div>

                <div class="col mb-3">
                    <h5><i class="bi bi-envelope-fill me-2 text-secondary"></i><strong>Phone:</strong> @Model.Phone</h5>
                </div>

                <div class="col mb-3">
                    <h5><i class="bi bi-person-circle me-2 text-secondary"></i><strong>Purpose:</strong>
                        @Model.VisitPurpose</h5>
                </div>

                <div class="col mb-3">
                    <h5><i class="bi bi-envelope-fill me-2 text-secondary"></i><strong>Number of visitors:</strong>
                        @Model.NoOfVisitors</h5>
                </div>

                <div class="col mb-3">
                    <h5><i class="bi bi-person-badge-fill me-2 text-secondary"></i><strong>Arrived At:</strong>
                        @Model.CreatedAt
                    </h5>
                </div>

                <div>
                    <h5><i class="bi bi-person-badge-fill me-2 text-secondary"></i><strong>Approval Status:</strong>
                        @Model.ApprovalStatus
                    </h5>
                </div>

                @if (Model.IsApproved == true)
                {
                    <div class="col mb-3">
                        <h5><i class="bi bi-clock-fill me-2 text-secondary"></i><strong>Check In:</strong>
                            @Model.CheckIn
                        </h5>
                    </div>
                    <div class="col mb-3">
                        <h5><i class="bi bi-clock-fill me-2 text-secondary"></i><strong>Check Out:</strong>
                            @if (Model.CheckOut != null)
                            {
                                @Model.CheckOut
                            }
                            else
                            {
                                <span>Not checked out yet</span>
                            }
                        </h5>
                    </div>
                }

                @if (Model.Rating != null)
                {
                    <div class="col-12 mb-3">
                        <h5>
                            <div class="d-flex align-items-center">
                                <i class="fa fa-star me-2 text-secondary"></i>
                                <strong>Rating:</strong>
                                @for (int i = 1; i <= Model.Rating; i++)
                                {
                                    <i class="star star-rating fa fa-star text-warning ms-2" data-number=@i></i>
                                }
                                @for (int i = 1; i <= 5 - Model.Rating; i++)
                                {
                                    <i class="star star-rating fa fa-star-o text-warning ms-2" data-number=@i></i>
                                }
                            </div>
                        </h5>
                    </div>
                }
                @if (Model.Feedback != null)
                {
                    <div class="col-12 mb-3">
                        <h5><i class="fa fa-star me-2 text-secondary"></i><strong>Feedback:</strong>
                            @Model.Feedback
                        </h5>
                    </div>
                }

                @if (Model.ApprovalStatus == ApprovalStatus.Pending.ToString() && userRole == Model.ResidentRole)
                {
                    <div class="mt-2 col-12 pe-5 ps-0 d-flex gap-3 justify-content-center">
                        <button type="submit" class="btn btn-approve btn-lg px-4" onclick="approveModal(this)"
                            data-name="@Model.Name" data-id=@Model.Id>
                            <i class="bi bi-check-circle me-2"></i> Approve
                        </button>

                        <button type="submit" class="btn btn-reject btn-lg px-4" onclick="rejectModal(this)"
                            data-name="@Model.Name" data-id=@Model.Id>
                            <i class="bi bi-x-circle me-2"></i> Reject
                        </button>
                    </div>
                }

            </div>
        </div>
    </div>

@section Scripts {
        <script src="~/js/visitor.js"></script>
        <script>
            redirectToList = true;
        </script>
}
