@{
    string userName = Context.Request.Cookies["mySocietyUserName"] ?? "User";
    @* string profileImg = Context.Request.Cookies["mySocietyProfileImg"] ?? "/images/profile.png"; *@
    string profileImg = "/images/profile.png";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MySociety</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body class="vh-100">

    <div class="h-100">
        <!-- Navbar starts -->
        <nav class="position-fixed w-100 bg-custom-secondary py-1 nav-custom">
            <div class="d-flex justify-content-between align-items-center pe-3">
                <div class="d-flex align-items-center">
                    <button class="btn" type="button" id="toggleSidebarBtn">
                        <img src="/images/icons/menu-bar.svg" alt="Menu Bar" class="" height="25px">
                    </button>
                    <div class="fs-3 ps-2">MySociety</div>

                </div>

                <div class="d-flex align-items-center">

                    <div class="dropdown">
                        <button class="btn" type="button" id="notificationDropdown"
                            data-bs-toggle="dropdown" aria-expanded="false" onclick="updateNotificationDropdown()">
                            <i class="bi bi-bell-fill text-white fs-3"></i>
                            <span id="notificationCount"
                                class="position-absolute translate-middle badge rounded-pill bg-danger" data-number="0">
                                0
                                <span class="visually-hidden">Unread notifications</span>
                            </span>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown"
                            id="notificationList" style="width: 350px;">
                            <li><span class="dropdown-item-text">Loading...</span></li>
                        </ul>
                    </div>

                    <div class="btn-group">
                        <a type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src=@(profileImg != null ? profileImg : "~/images/Default_pfp.svg.png")
                                class="rounded-circle" alt="profile" height="40px" width="40px">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg-end">
                            <li class="mb-2 ms-3 d-flex align-items-center">
                                <img class="me-2 rounded-circle" src=@(profileImg != null ? profileImg :
                                                                                                     "~/images/Default_pfp.svg.png") alt="" height="30px" width="30px">
                                <span>@userName</span>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" asp-action="Index"
                                    asp-controller="MyProfile">
                                    <img class="me-2 myprofile-icons" src="~/images/icons/person-circle.svg" alt=""
                                        height="24px">
                                    <span>My Profile</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" asp-action="ChangePassword"
                                    asp-controller="MyProfile">
                                    <img class="me-2 myprofile-icons" src="~/images/icons/lock.svg" alt=""
                                        height="20px">
                                    <span>Change Password</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" data-bs-toggle="modal"
                                    data-bs-target="#LogoutModal">
                                    <img class="me-2 myprofile-icons" src="~/images/icons/logout.svg" alt=""
                                        height="20px">
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar ends -->

        <div class="container-fluid below-navbar h-100">
            <div class="row h-100">

                <!-- Sidebar starts-->
                <div class="sidebar col-2 px-0 bg-custom" id="sidebar">
                    <!--Navigation Pane  -->
                    <div class="d-flex flex-column">

                        <a asp-action="Index" asp-controller="Home"
                            class="@((ViewData["sidebar-active"] as string) == "Dashboard" ? "side-dash" : "")">
                            <img src="~/images/navigation/dashboard.svg" alt=""
                                class="@((ViewData["sidebar-active"] as string) == "Dashboard" ? "filter-custom" : "")">
                            Dashboard
                        </a>

                        <a asp-action="Index" asp-controller="Notifications"
                            class=" @((ViewData["sidebar-active"] as string) == "Notifications" ? "side-dash" : "")">
                            <img src="~/images/navigation/visitors.svg" alt=""
                                class=" @((ViewData["sidebar-active"] as string) == "Notifications" ? "filter-custom" : "")">
                            Notifications
                        </a>

                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Index" asp-controller="Members"
                                class=" @((ViewData["sidebar-active"] as string) == "Members" ? "side-dash" : "")">
                                <img src="~/images/navigation/members.svg" alt=""
                                    class=" @((ViewData["sidebar-active"] as string) == "Members" ? "filter-custom" : "")">
                                Members
                            </a>
                        }

                        <a asp-action="Index" asp-controller="Visitor"
                            class=" @((ViewData["sidebar-active"] as string) == "Visitors" ? "side-dash" : "")">
                            <img src="~/images/navigation/visitors.svg" alt=""
                                class=" @((ViewData["sidebar-active"] as string) == "Visitors" ? "filter-custom" : "")">
                            Visitors
                        </a>

                        <a asp-action="Index" asp-controller="Report"
                            class=" @((ViewData["sidebar-active"] as string) == "Report" ? "side-dash" : "")">
                            <img src="~/images/navigation/reports.svg" alt=""
                                class=" @((ViewData["sidebar-active"] as string) == "Report" ? "filter-custom" : "")">
                            Reports
                        </a>

                        <a asp-action="Index" asp-controller="Notices"
                            class="@((ViewData["sidebar-active"] as string) == "Notices" ? "side-dash" : "")">
                            <img src="~/images/navigation/notices.svg" alt=""
                                class=" @((ViewData["sidebar-active"] as string) == "Notices" ? "filter-custom" : "")">
                            Notices
                        </a>

                        <a asp-action="Index" asp-controller="Complaints"
                            class="@((ViewData["sidebar-active"] as string) == "RolePermission" ? "side-dash" : "")">
                            <img src="~/images/navigation/role.svg" alt=""
                                class=" @((ViewData["sidebar-active"] as string) == "RolePermission" ? "filter-custom" : "")">
                            Complaints
                        </a>

                        <a asp-action="Index" asp-controller="Maintenance"
                            class="@((ViewData["sidebar-active"] as string) == "Maintenance" ? "side-dash" : "")">
                            <img src="~/images/navigation/taxes.svg" alt=""
                                class="@((ViewData["sidebar-active"] as string) == "Maintenance" ? "filter-custom" : "")">
                            Maintenance
                        </a>

                        <a asp-action="Index" asp-controller="Parking"
                            class="@((ViewData["sidebar-active"] as string) == "Parking" ? "side-dash" : "")">
                            <img src="~/images/navigation/parking.svg" alt=""
                                class="@((ViewData["sidebar-active"] as string) == "Parking" ? "filter-custom" : "")">
                            Parking
                        </a>


                        <a asp-action="Index" asp-controller="Events"
                            class="@((ViewData["sidebar-active"] as string) == "Events" ? "side-dash" : "")">
                            <img src="~/images/navigation/events.svg" alt=""
                                class="@((ViewData["sidebar-active"] as string) == "Events" ? "filter-custom" : "")">
                            Events
                        </a>


                    </div>
                </div>
                <!-- Sidebar ends-->

                <!-- Main content starts-->
                <div class="main-content col px-0">

                    <!-- User content starts -->
                    <div class=" px-3 px-md-4 px-lg-5 py-2">
                        <main role="main" class="">
                            @RenderBody()
                        </main>
                    </div>

                </div>
                <!-- Main Content ends -->
            </div>
        </div>

    </div>

    <!-- Logout Modal starts here -->
    <div class="modal fade" id="LogoutModal" data-bs-backdrop="LogoutModal" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="LogoutLabel">Logout</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                    <img src="/images/icons/warning.svg" alt="" height="60px" width="50px">
                    <span>Are you sure you want to logout?</span>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <a asp-action="Logout" asp-controller="Auth" type="button" class="btn btn-custom">Yes</a>
                    <button type="button" class="btn btn-custom-secondary" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Logout Modal ends here  -->

    <!-- Generic Modal-->
    <div class="modal fade" id="genericModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="genericModalTitle"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                    <img src="~/images/icons/warning.svg" alt="" width="50px">
                    <span id="genericModalMessage"></span>
                </div>
                <div class="modal-footer d-flex justify-content-center" id="genericModalFooter">
                    <button type="button" class="btn btn-custom btn-yes" data-bs-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-custom-secondary btn-no" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Approve visitor Modal-->
    <div class="modal fade" id="approveVisitorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="approveVisitorModalTitle">Visitor Details</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column justify-content-center align-items-center">

                </div>
                <div class="modal-footer d-flex justify-content-center" id="approveVisitorModalFooter">
                    <button type="button" class="btn btn-custom btn-yes" data-bs-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-custom-secondary btn-no" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="visitorRequestModal" tabindex="-1" aria-labelledby="visitorRequestLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-3">
                <div class="modal-header bg-custom">
                    <h5 class="modal-title" id="visitorRequestLabel">Visitor Approval Request</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <p><strong>Name:</strong> Manisha</span></p>
                    <p><strong>Phone Number:</strong> 9874589652</span></p>
                    <p><strong>Number of Visitors:</strong> 2</span></p>
                    <p><strong>Vehicle Number:</strong> GJ01AB9898</span></p>
                    <p><strong>Visit Purpose:</strong> Meeting</span></p>
                </div>

                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-approve" id="approveVisitorBtn">Approve</button>
                    <button type="button" class="btn btn-reject" id="rejectVisitorBtn">Reject</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.0/signalr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/modal.js" asp-append-version="true"></script>
    <script src="~/js/signalR.js" asp-append-version="true"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
