@using MySociety.Entity.ViewModels
@* @model ApprovalListVM *@

<!-- Table -->
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="col">
                    Name
                    <button class="btn p-0 sortBtn" data-column="Name" data-order="asc">
                        <img src="~/images/icons/arrow-up.svg" alt="">
                    </button>
                    <button class="btn p-0 sortBtn" data-column="Name" data-order="desc">
                        <img src="~/images/icons/arrow-down.svg" alt="">
                    </button>
                </th>
                <th scope="col" class="col">Email</th>
                <th scope="col" class="col">Block</th>
                <th scope="col" class="col">Floor</th>
                <th scope="col" class="col">House</th>
                <th scope="col" class="col">
                    Role
                    <button class="btn p-0 sortBtn" data-column="Role" data-order="asc">
                        <img src="~/images/icons/arrow-up.svg" alt="">
                    </button>

                    <img src="~/images/icons/arrow-down.svg" alt="">
                    </button>
                </th>
                <th scope="col" class="col">Action</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <td scope="row">
                    <img src="~/images/profile.png" alt="" width="35px" height="35px" class="rounded-circle">
                    <span>Manisha Patel</span>
                </td>
                <td>manisha@gmail.com</td>
                <td>A</td>
                <td>First</td>
                <td>101</td>
                <td>Owner</td>
                <td>
                    <a type="button" asp-action="ApproveUser" asp-controller="Users" asp-route-userId="0"
                        class="px-3 btn btn-approve">
                        Approve
                    </a>

                    <a type="button" class="px-3 btn btn-delete deleteIcon" id="deleteIcon" data-bs-toggle="modal"
                        data-bs-target="#deleteModal" data-id="0">
                        Delete
                    </a>
                </td>
            </tr>
            @* @foreach (var user in Model.Users)
            {
                <tr>
                    <td scope="row">
                        <img src="~/images/profile.png" alt="" width="35px" height="35px" class="rounded-circle">
                        <span>@user.Name</span>
                    </td>
                    <td>@user.Email</td>
                    <td>@user.Block</td>
                    <td>@user.Floor</td>
                    <td>@user.House</td>
                    <td>

                        <a asp-action="Edit" asp-controller="Users" asp-route-userId="@user.UserId"
                            class="ps-0 btn" >
                            <img src="~/images/icons/edit.svg" alt="" />
                        </a>

                        <a type="button"
                            class="btn deleteIcon 
                            id="deleteIcon" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="@user.UserId">
                            <img src="~/images/icons/delete.svg" alt="" />
                        </a>
                    </td>
                </tr>
                        } *@
        </tbody>
    </table>
</div>

@* <!-- Pagination Starts -->
<div class="d-flex justify-content-end gap-1 flex-column flex-md-row pb-2">
    <div class="d-flex flex-row justify-content-end align-items-center mb-1 me-1 gap-1">
        <span>Items per page:</span>
        <select class="form-select w-auto" onchange="PaginationAjax(1)" id="itemsPerPage"
            aria-label="Select items per page">
            <option value="5" selected="@(Model.Page.PageSize == 5 ? true : false)">5</option>
            <option value="10" selected="@(Model.Page.PageSize == 10 ? true : false)">10</option>
            <option value="15" selected="@(Model.Page.PageSize == 15 ? true : false)">15</option>
        </select>
    </div>

    <div class="d-flex flex-row justify-content-end align-items-center mb-1 gap-1">
        <span>Showing @Model.Page.FromRec - @Model.Page.ToRec of @Model.Page.TotalRecord</span>

        <!-- Previous Page Button -->
        <button class="btn border btn-prev @(Model.Page.CurrentPage > 1 ? "" : "disabled")"
            onclick="PaginationAjax(@Model.Page.CurrentPage - 1)">
            <img src="~/images/icons/chevron-left.svg" alt="">
        </button>

        <!-- Next Page Button -->
        <button class="btn border btn-next @(Model.Page.CurrentPage < Model.Page.TotalPages ? "" : "disabled")"
            onclick="PaginationAjax(@Model.Page.CurrentPage + 1)">
            <img src="~/images/icons/chevron-right.svg" alt="">
        </button>
    </div>
</div>
<!-- Pagination Ends --> *@
